<nav>
  <ul>
    <% for( let index = 0; index < links.length; index++ ) { %>
    <li>
      <a href="<%= links[index].href %>">
        <span> <%= links[index].text %> </span>
      </a>
    </li>
    <% } %>
  </ul>
</nav>