/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS RESET SECTION ENDS */

* {
  box-sizing: border-box;
}

:root {
  --num-grid: 4;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: auto;
  /* system font stack from https://css-tricks.com/snippets/css/system-font-stack/ */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container#layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  /* to avoid vertical scroll */
  max-width: 100%;
  grid-template-rows: repeat(var(--num-grid), 1fr); /* Distribute equally */
  grid-template-columns: repeat(var(--num-grid), 1fr);
  grid-template-areas:
    "header header cv cv"
    "in in cv cv"
    "in in cv cv"
    "in in cv cv";
  background-color: cyan;
}
.container > div {
  border: 1px solid green;
  padding: 5px;
}
#inputSection {
  grid-area: in;
  background-color: cyan;
}

#cvSection {
  grid-area: cv;
  background-color: red;
}

#header {
  grid-area: header;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header > h1 {
  font-size: 10vw;
}

.container > div.input {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.container > div.formButtons {
  border: 0px;
}
