body {
    font-family: "Roboto", sans-serif;
}

div.container {
    padding: 0px 10%;
    display: flex;

}

.header.container, 
.hero.container {
    background-color: #1F2937;
}


.header.container{
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header.logo {
    font-size: 24px;
    color: #F9FAF8;
    flex: 1;
}

.header.link {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 20px;
}

.hero.container{
    justify-content: center;
    align-items: center;
    height: 350px;
    gap: 20px;
}

.hero.left {
    flex: 1;
}
.hero.left * {
    margin: 5px;
}

.hero.main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero.second {
    font-size: 18px;
    color: #E5E7EB;
}

.hero.button {
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px;
    width: 100px;
    height: 40px;
}
.hero.img {
    flex: 1 2 auto;
    width: 50px;
    height: 300px;
}

.body.container{
    display: block;
}

.body h1 {
    text-align: center;
}

.body.img {
    display: flex;
    padding: 0px 10px;
    justify-content: space-around;
    gap: 50px;
}

.body.imgblock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
}

.body.imgblock img{
    border-radius: 10px;
    aspect-ratio: 1/1;
    width:100%;
    border: 100px #3882F6;
    flex:1;
}

.body.body.imgblock p {
    text-align: center;
    width: 120px;
}